@import '../../Style.scss';


.rightBar {
    @include themify($themes){
    flex: 3;
    height: calc(100vh - 50px);
    position: sticky;
    top: 50px;
    overflow: scroll;
    background-color: themed('bgSoft');
    

    &::-webkit-scrollbar {
        display: none;
    }

    .container {
        padding: 10px 10px;

        .item {
            // -webkit-box-shadow: 0px 6px 54px -3px rgba(82, 54, 82, 0.58);
            // -moz-box-shadow: 0px 6px 54px -3px rgba(82, 54, 82, 0.58);
            box-shadow: 0px 0px 9px 1px rgb(0, 0, 0, 0.9);
            padding: 10px;
            margin-bottom: 25px;
            background-color: themed('bg');

            span {
                color: themed('textColorSoft');
            }

            .user {
                display: flex;
                align-items: center;
                justify-content: space-between;
                margin: 10px 0px;

                .userInfo {
                    display: flex;
                    align-items: center;
                    gap: 15px;
                    position: relative;

                    img {
                        width: 30px;
                        height: 30px;
                        border-radius: 50%;
                        object-fit: cover;
                    }
                    .online{
                        width: 10px;
                        height: 10px;
                        border-radius: 50%;
                        background-color: limegreen ;
                        position: absolute;
                        top: 0;
                        left: 20px;
                    }
                    p{
                        color: themed('textColorSoft');;
                        span{
                            padding-right: 5px;
                        }
                    }

                    span {
                        color: themed('textColorSoft');
                        font-weight: 700;
                    }
                }

                .buttons {
                    display: flex;
                    align-items: center;
                    gap: 10px;

                    button {
                        border: none;
                        color: white;
                        cursor: pointer;
                        padding: 5px;

                        &:first-child {
                            background-color: blue;
                        }

                        &:last-child {
                            background-color: red;
                        }
                    }

                }
            }
        }
    }

}
}